<div class="row container" id="song-container">
  <br>

  <button id="new-song" type="button" name="openModal">
    <a data-open="newSong">New Song</a>
  </button>

  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>

  <br>
  <br>

  <div class="reveal" id="newSong" data-reveal>
    <div class="song-form columns large-6 small-12">
      <div class="song-form-title">
        <h3>New Song Form</h3>
      </div>

      <%= form_for(@song) do |f| %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :artist %>
          <%= f.text_field :artist %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="actions">
          <%= f.submit(value="Add Song") %>
        </div>

      <% end %>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="songs">
  <% if @songs.empty? %>
    <p>No Songs!</p>
  <% end %>
  <% @songs.each do |song| %>
    <p id="songs-index">
      <%= link_to song.name, song %> by: <%= song.artist %>
    </p>
  <% end %>
</div>
